/*******************

Grupp 12 2011
TIG061 - Projekt 2

*******************/
body {

}

#langBar {
	float:right; 
	margin-right:10px; 
	padding:10px;
}

#header img {
	margin-left:15px;
}

.headerTd {
	width:200px;
}

h1 {
	margin: -5 0 5 0;
	text-align:center;
}

/***** CHOOSE HOURS / MINS *****/

#pay input {
	font-size:50px;
	background:transparent;
	border:none;
}

#pay label {
	font-size:50px;
	background:transparent;
	border:none;
}

#hoursMinTable {
	width:950px;
	margin-left: 10%;
}

#hoursMinTable tr {
	margin-top:100px;
	height:100px;
}

#totalSum {
	margin-left:10%;
}

#totalSum input {
	width:90px;
}

#totalSum span {
	font-size: 50px;
}

/***** END CHOOSE HOURS / MINS *****/


.button {
	height: 200px;
	width: 350px;
	float:left;
	margin: 20px;
	border-radius:15px;
	border: 1px solid black;
	background: #ffffff;
	padding:5px;
}

.mobileTicket {
	height: 350px;
	width: 350px;
	float:left;
	margin: 20px;
	border-radius:15px;
	border: 1px solid black;
	background: #ffffff;
	padding:5px;
}

.mobileTicket input {
	width:330px;
	height:45px;
	font-size:40px;
	padding:5px;
	margin: 0 auto;
}

#main {
	text-align:center;
}

#buttonCont {
	width:805px;
	display: inline-block;

}

#progressBar {
	height:30px;
	width:100%;
	margin-bottom:10px;
	text-shadow: none;
}

#progressBar span {
	width: 256px;
	float:left;
	text-align:center;
	font-family: Tahoma;
	text-transform: uppercase;
}

/***** SEQUENCE BAR *****/
.inactive {
	background: Red;
	opacity:0.6;
}

.active {
	background: Orange;
	font-weight:bold;
}

.done {
	background: Green;
	opacity:0.6;
}
/***** END SEQUENCE BAR *****/

/***** FOOTER-BUTTONS *****/

.forward {
	float:right;
	border: 1px solid #222 /*{a-bup-border}*/;
	background: #333333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#33CC45 /*{a-bup-background-start}*/, #44A44F /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#33CC45 /*{a-bup-background-start}*/, #44A44F /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#33CC45 /*{a-bup-background-start}*/, #44A44F /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#33CC45 /*{a-bup-background-start}*/, #44A44F /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#33CC45 /*{a-bup-background-start}*/, #44A44F /*{a-bup-background-end}*/);
}

.forward:active {
	float:right;
	border: 1px solid #222 /*{a-bup-border}*/;
	background: #333333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#44A44F /*{a-bup-background-start}*/, #33CC45 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#44A44F /*{a-bup-background-start}*/, #33CC45 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#44A44F /*{a-bup-background-start}*/, #33CC45 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#44A44F /*{a-bup-background-start}*/, #33CC45 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#44A44F /*{a-bup-background-start}*/, #33CC45 /*{a-bup-background-end}*/);
}

.cancel {
	border: 1px solid #222 /*{a-bup-border}*/;
	background: #333333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#ff3019 /*{a-bup-background-start}*/, #cf0404 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#ff3019 /*{a-bup-background-start}*/, #cf0404 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#ff3019 /*{a-bup-background-start}*/, #cf0404 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#ff3019 /*{a-bup-background-start}*/, #cf0404 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#ff3019 /*{a-bup-background-start}*/, #cf0404 /*{a-bup-background-end}*/);
	
}

.cancel:active {
	border: 1px solid #222 /*{a-bup-border}*/;
	background: #333333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#cf0404 /*{a-bup-background-start}*/, #ff3019 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#cf0404 /*{a-bup-background-start}*/, #ff3019 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#cf0404 /*{a-bup-background-start}*/, #ff3019 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#cf0404 /*{a-bup-background-start}*/, #ff3019 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#cf0404 /*{a-bup-background-start}*/, #ff3019 /*{a-bup-background-end}*/);
	
}

.back {
	float:left;
}

/***** END FOOTER-BUTTONS *****/